body {
    width: 100vh;
    margin: 30px auto;
}
table,th,td {
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid red;
    
}
th,td {
    padding: 10px;
}
.profile {
    display: flex;
    justify-content: space-between;
}
.profile div:last-child{
    text-align: end;
}
h1{
    text-align: center;
}

th {
    background-color: yellow;
}
td {
    background-color: aliceblue;
}
.nobackround{
    background-color: white;
}

.profile,h1 {
    color: blue;
}